.hero {
    position: relative;
    text-align: center;
    width: 100%;
    height: 86vh;
    min-height: 800px;
    padding: 0;
    display: flex;
    color: white;
    background-color: #161E1B;
    background: url("./assets/images/street-traffic.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    padding-bottom: 4rem;
}
.hero__absolute {
    position: absolute;
    z-index: 3;
    padding-top: 7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.hero__content {
  
}
.hero__content h1, p{
    margin-left: auto;
    margin-right: auto;
}

.hero-content__text {
    font-size: 1.34rem;
}

.hero p {
    color: white;
}
.hero .form__text {
    width: 250px;
}

.hero-content__mobile-1 {
    position: absolute;
    left: 50%;
    top: 500px;
    transform: translate(-280px, 0);
}
.hero-content__mobile-2 {
    position: absolute;
    left: 50%;
    top: 420px;
    transform: translate(-100px, 0);
}
@media screen and (max-width: 960px) {
    .hero-content__mobile-1 {
        width: 300px;
        top: 570px;
    }
    .hero-content__mobile-2 {
        width: 300px;
        top: 480px;
    }
}
@media screen and (max-width: 767px) {
    .hero__absolute {
        padding-top: 7rem;
    }
    .hero__content h1 {
        max-width: 400px;
    }
}
@media screen and (max-width: 600px) {
    .hero {
        min-height: 640px;
        background: url("./assets/images/street-traffic_600px.jpg");
    }
    .hero__absolute {
        padding-top: 6rem;
    }
    .hero-content__mobile-1 {
        display: none;
    }
    .hero-content__mobile-2 {
        transform: translate(-50%, 0);
    }
    .hero__absolute {
        top: 58%;
        transform: translate(-50%, -50%);
    }

}
@media screen and (max-width: 440px) {
    .hero input{
        width: 90% !important;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .hero__content h1 {
        font-size: 2.25rem;   
    }
    .hero__content p {
       font-size: 1rem;
    }
    .hero__absolute {
        padding-top: 8rem;
    }
   
    .hero-content__mobile-2 {
        width: 280px;
    }
    .hero-content__mobile-2 {
        display: none;
    }
}