.hero {
    position: relative;
    text-align: center;
    width: 100%;
    height: 86vh;
    min-height: 800px;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    color: white;
    background-color: #161E1B;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    padding-bottom: 4rem;
    object-fit: cover;
}
.hero__bg-img {
    height: 100%;
}
.hero__absolute {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
.hero__content {
  
}
.hero__content h1, p{
    margin-left: auto;
    margin-right: auto;
}

.hero-content__text {
    font-size: 1.34rem;
}

.hero p {
    color: white;
}
.hero .form__text {
    width: 250px;
}

.hero-content__mobile-1 {
    position: absolute;
    left: 50%;
    bottom: -250px;
    transform: translate(-280px, 0);
    z-index: 3;
}
.hero-content__mobile-2 {
    position: absolute;
    left: 50%;
    bottom: -180px;
    transform: translate(-100px, 0);
    z-index: 3;
}
@media screen and (max-width: 960px) {
    .hero-content__mobile-1 {
        width: 300px;
    }
    .hero-content__mobile-2 {
        width: 300px;
    }
}
@media screen and (max-width: 767px) {
 
    .hero__content h1 {
        max-width: 400px;
    }
}
@media screen and (max-width: 600px) {
    .hero {
        min-height: 640px;

    }
    .hero-content__mobile-1 {
        width: 170px;
        transform: translate(-70%, 0);
        bottom: -200px;
    }
    .hero-content__mobile-2 {
        width: 170px;
        transform: translate(-30%, 0);
        bottom: -150px;
    }
    .hero__absolute {
        top: 35%;
        transform: translate(-50%, -35%);
    }

}
@media screen and (max-width: 440px) {
    .hero input{
        width: 90% !important;
        display: block;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .hero__content h1 {
        font-size: 2.25rem;   
    }
    .hero__content p {
       font-size: 1rem;
    }
}